{% extends 'dietician/common.html' %}
{% block content %}

<div class="site-main">
    <section class="ttm-row clearfix">
        <div class="container">

            <h3 class="mb-20">My Diet Plans</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Plan Name</th>
                        <th>Image</th>
                        <th>Steps</th>
                        {% comment %} <th>Plan Type</th> {% endcomment %}
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in plans %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.plan_name }}</td>
                        <td>
                            <img src="{{ p.image.url }}" width="80">
                        </td>
                        <td>
                            <div style="width: 300px; height: 120px; overflow-y: auto; border:1px solid #ccc; padding:5px; background-color:#f9f9f9;">
                                {% if p.steps.all %}
                                    {% for step in p.steps.all %}
                                        <p><strong>Step {{ forloop.counter }}:</strong> {{ step.step_text }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>No steps added</p>
                                {% endif %}
                            </div>
                        </td>
                        {% comment %} <td>{{ p.get_plan_type_display }}</td> {% endcomment %}
                        <td>
                            {% if p.plan_type == 'paid' %}
                                ${{ p.price }}
                            {% else %}
                                Free
                            {% endif %}
                        </td>

                        <td>
                            <a href="{% url 'edit_diet_plan' p.id %}" class="btn btn-sm btn-primary">Edit</a>
                            <a href="{% url 'delete_diet_plan' p.id %}"
                               onclick="return confirm('Are you sure?')"
                               class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No diet plans found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
</div>

{% endblock %}
